$primary-font: 'Ubuntu', Helvetica sans-serif;
$orange-color: #d42424;
$brown-color: #7f6051;

$phone: 320px; // potrait phone
$tablet: 600px; //potrait tablet OR landscape phone
$tablet_lg: 768px; //landscape tablet or large phones
$laptop: 992px;
$laptop_lg: 1200px;

